body {
    color: white;
    background: rgb(9 42 20)
    margin: 3px;6
    font-family: "Inconsolata", monospace;
}

header {
    border-bottom: solid 7px rgb( 135 196 84);
    padding: 20px;
    font-size: 50px;
    color:rgb(135 196 84);
    background: white;
    img{
        width: 10%;
    }
}

section{
    background:rgb(9 42 20)
    padding-bottom: 80px;
    padding-top: 80px;
}

div{
    margin-right: 20px;
    
}

h1{
    font-size: 20px;
    color: rgb(135 196 84);

p{
    font-size: 30px;
}
